body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.products{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(247, 159, 159);
  flex-wrap: wrap;
  gap: 20px;
  margin: 15px;
  padding: 10px;

}

.products button{
  padding: 10px;
  font-size: 22px;
  border: none;
  border-radius: 5px;
  background-color: rgb(189, 249, 27);
  color: black;
  cursor: pointer;
}

h2{
  margin: 20px;
}