body {
  margin: 0;
  background-color: black !important;
  color: white !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading{
  display: flex;
  justify-content: space-between;
  margin: 30px;
  align-items: center;

}

.products{
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgb(247, 159, 159); */
  flex-wrap: wrap;
  gap: 20px;
  margin: 15px;
  padding: 10px;
  

}
.productCard{
  
  padding: 20px;
  flex: 1 1 250px;
  border: 1px solid rgb(102, 101, 101);
  border-radius: 5px;
}
.productImage{
  height: 250px;
  width: 300px;
}

.products button{
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: rgb(189, 249, 27);
  color: black;
  cursor: pointer;
}

h2{
  margin: 20px;
}

.cartBtn{
  margin: 10px;
  display: flex;
  justify-content: safe;
  align-items: center;
  gap: 20px;
}

.controls{
  display: flex;
  gap: 15px;
  align-items: center;
  
  
}
span{
  color: rgb(127, 242, 12);
}

.cartContainer{
  margin: 20px;
  padding: 10px;
  max-width: 800px;
}
.cartTable{
  width: 100vw;
  margin: 10px;
}

.cartTable th,
.cartTable td{
  border: 1px solid white;
  padding: 10px;
}
.cartBtn{
  border: 1px solid black;
  margin: 10px;
  
}

.cartSummary{
  
  margin-top: 10px;

}

.discountBtn{
  background-color: rgb(95, 252, 11);
  border: none;
  border-radius: 5px;
  color: black;
  padding: 10px;
}